{% extends "portfolio/base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<section id="home" class="hero-section">
    <div class="hero-content">
        <h1>Welcome to My Portfolio</h1>
        <p>Hi, I'm <span class="highlight">Shamsuddeen Yusuf</span>, a dedicated <span class="highlight">Django developer</span> passionate about building scalable and efficient web applications. I specialize in 
            <span class="highlight">Python, Django, and Web Development
            </span>, creating seamless backend solutions that power dynamic and user-friendly websites.</p>

        <div class="hero-buttons">
            <a href="{% url 'lists' %}" class="btn btn-primary">View My Work</a>
            <a href="{% url 'contact' %}" class="btn btn-secondary">Contact Me</a>
        </div>
    </div>
</section>

<!-- Projects Section -->
<section id="portfolio" class="portfolio-section">
    <div class="container">
        <h2>My Projects</h2>
        <div class="portfolio-grid">
            {% for project in projects %}
            <div class="portfolio-item">
                <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image">
                <div class="project-details">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description |safe|truncatechars:5000 }}</p>
                    {% if project.url %}
                    <a href="{{ project.url }}" target="_blank" class="btn btn-primary">View Project</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- About Me Section -->
<section id="about" class="about-section">
    <div class="container">
        <h2>About Me</h2>
        <div class="about-content">
            <img src="{% static 'portfolio/animate.gif' %}" alt="Shamsuddeen image" class="about-image">
            <div class="about-text">
                <p>Hi, I'm <span class="highlight">Shamsuddeen Yusuf</span>, a passionate Django developer on a journey to master backend development. I started my coding journey 
                <span class="highlight">2018</span>, and Django quickly became my framework of choice for building scalable and efficient web applications.</p>
                <p>From building my first simple project to developing full-fledged web apps, I've been learning and growing every step of the way. I enjoy working with Django’s powerful features, optimizing databases, and creating seamless backend systems. My goal is to deepen my expertise, contribute to meaningful projects, and share my knowledge with the community.</p>
                <p>This portfolio showcases my work and progress feel free to explore and connect with me!</p>
                <a href="{% url 'contact' %}" class="btn btn-primary">Contact Me</a>

            </div>
        </div>
    </div>
</section>
{% endblock %}